i{font-size: $font-big; color: $color-white;}
span{font-size: $font-normal; color: $color-grey; margin: 8px 0px;}
h1, h2, h3, h4, h5, h6, p{color: $color-white;}
h3{text-transform: uppercase; margin: 12px 0px;}
.big-text{font-size: $font-med;}
.normal-text{font-size: $font-normal;}
.small-text{font-size: $font-small; font-weight: bold;}
.xsmall-text{font-size: $font-xsmall; font-weight: bold;}