// ----------colors palette---------
$color-white:      white;
$color-grey:       lightgrey;
$color-primary:    #2E3A46;
$color-primary200: #1E2D3B;

// ----------/colors palette---------

// font-size
$font-xsmall:  14px;
$font-small:   16px;
$font-normal:  20px;
$font-med:     30px;
$font-big:     40px;


// container
$container-big:    1440px;
$container-basic:  1080px;
$container-small:  920px;
$container-xsmall: 800px;

// responsive
$phone:        400px;
$phone-wide:   480px;
$tablet:       768px;
$tablet-new:   992px;
$tablet-wide:  1080px;
$desktop:      1248px;